header {
    background-color: salmon;
    height: 15vh;
    width: 99vw;
    border: solid 1pt black;
    margin: 0 auto;
}
#site-heading {
    display: inline-block;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 24pt;
}

nav {
    display: inline-block;
    font-size: 18pt;
}

.nav-item {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#pic1 {
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

.pic2 {
    height: 150px;
    width: 100px;
    float: right;
    margin-right: 20px;
}

.box {
    height: 35vh;
    width: 98vw;
    border: dotted 4pt black;
    margin: 0 auto;
    margin-top: 10px;
    font-size:8pt;
}

#box2 {
    height: 48vh;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px 20px;
    }

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px 20px;
    font-size: 18pt;
}

p {
    font-size: 12.5pt;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0px;
}