* {
    margin: 0px auto;
}

header {
    /* display: table-cell; */
    margin-top: 5px;
    margin-left: 1vw;
    background-color: aquamarine;
    border-top: solid 2pt black;
    height: 100px;
    width: 98vw;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* vertical-align: middle; */
    line-height: 90px;
    text-indent: 30px;
}

.words {
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
    width: 94vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shapes {
    width: 94vw;
    border: dashed 1pt black;
    margin-top: 5px;
    padding: 0px;

}
.first{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

#purple {
    background-color: indigo;
    height: 90px;
    width: 200px;
    border: solid 2.5pt red;
}

#blue {
    background-color: blue;
    height: 92px;
    width: 92px;
    border: solid 1pt black;
    box-shadow: 6px 6px 8px black;
}

#pink {
    background-color: palevioletred;
    height: 200px;
    width: 200px;
    border: solid 1pt black;
    margin-top: 20px;
}

#top {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid 1pt black;
    margin-left: 35px;
    margin-top: 10px;
}

#mid {
    height:100px;
    width: 100px;
    border-radius: 50%;
    border: solid 1pt black;
    margin-left: 22.5px;
}

#bot {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: solid 1pt black;
    margin-left: 10px;
    margin-bottom: 10px;
}
    

.coal {
    height:14px;
    margin: 0 auto;
    display: block;
}

.top {
    display: block;
}
.face{
    display: inline-block;
    padding-top: 20%;
    height: 14px; 
}

#leftCoal {
    padding-left: 10px;
}

#carrot {
    display: block;
    padding-top: 10%;
    height: 15px;
}

.mid {
    display: block;
}

.button {
    /* display: block; */
    /* margin: 0 auto; */
    padding-bottom: 10px;
}

#topCoal {
    display: block;
    padding-top: 14%;
}

#cream {
    background-color: beige;
    border: solid 1pt black;
    height: 300px;
    width: 300px;
    margin-left: 10px;
}

#green {
    background-color:  forestgreen;
    border: solid 1pt black;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 0px;
}

#rust {
    margin-top: 50px;
    background-color: brown;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    margin-left: 50px;
}

#fishWords {
    color: white;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 35%;
    line-height: 110px;
    
}

#tank {
    background-color: blue;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-left: 0px;
   
}

#fish {
    display: block;
    height: 50px;
    clear: none;
    padding-top: 28%;
}

